@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: color.$gray-50;
  padding: 0 space.$s6;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint.$desktop) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.linkList {
  order: 1;
  margin: space.$s6;
  padding: 0;

  @media (min-width: breakpoint.$desktop) {
    order: 2;
  }
}

.version {
  color: color.$gray-400;
  margin: space.$s6;
  order: 3;

  @media (min-width: breakpoint.$desktop) {
    order: 1;
  }
}

.links {
  color: color.$gray-500;
  order: 1;

  @media (min-width: breakpoint.$desktop) {
    order: 2;
  }
}

.logo {
  padding: 0;
  margin: 0;
  order: 2;

  @media (min-width: breakpoint.$desktop) {
    order: 3;
  }
}
