@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";
@use "@styles/z-index";

.container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: space.$s6;
  justify-content: flex-end;

  @media (max-width: breakpoint.$desktop) {
    justify-content: flex-start;
    flex-wrap: wrap;

    .button,
    .filter,
    .search {
      width: 100%;
      margin: 0;
      margin-bottom: space.$s4;
    }

    .button {
      order: 3;
      margin-bottom: 0;
    }
  }
}

.filter {
  margin-left: space.$s4;
  margin-right: 0;
  width: 160px;
}

.search {
  width: 280px;
  margin-left: space.$s4;
}

.button {
  margin-right: auto;
  min-width: 230px;
}

.icon {
  margin-right: space.$s2;
}
